@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.overlay-bg {
  filter: brightness(0.9);
  filter: blur(0.5px);
  filter: contrast(1);
  filter: grayscale(0.2);
}
.section-bg {
  background: linear-gradient(
    150deg,
    rgba(215, 243, 217, 0.156),
    rgba(155, 189, 158, 0.056)
  );
}
.section-bg-fade {
  background: linear-gradient(
    75deg,
    rgba(155, 189, 158, 0.156),
    rgba(215, 243, 217, 0.156)
  );
}

.hero-bg {
  background: linear-gradient(
    180deg,
    rgba(222, 251, 217, 0.256),
    rgba(215, 243, 217, 0.256)
  );
}
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
.green-primary {
  background-color: rgba(226, 253, 231, 0.159);
}
.text-green-primary {
  color: #229e43;
}
.card-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #77ca9b #d2dfd5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #d2dfd5;
}

*::-webkit-scrollbar-thumb {
  background-color: #77ca9b;
  border-radius: 5px;
  border: 3px solid #bbeccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.transition-custom {
  animation: fadeIn 0.3s ease-in-out; /* Adjust the duration and easing function as needed */
}
